<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Search Result</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
		<br>
		<div class="row">
			<h2>Search Result</h2>
		</div>
		
		<table class="table table-striped table-bordered">
			<thead class="table-dark" align="center">
				<tr>
					<th> Customer Id </th>
					<th> Customer Name </th>
					<th> Customer Email </th>
					<th> Customer Address </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="customer: ${result}">
					<td th:text="${customer.id}" align="center"></td>
					<td th:text="${customer.name}"></td>
					<td th:text="${customer.email}"></td>
					<td th:text="${customer.address}"></td>
				</tr>
			</tbody>
			
		</table>
	</div>

</body>
</html>
